<!doctype>
<html>
<head>
	<link href="css/default.css" rel="stylesheet" type="text/css" media="all"/>
	<title></title>
</head>
<div id="header">
  <ul class="nav-bar">
    <li><a href="#">Home</a></li>
    <li><a href="#">@ Connect</a></li>
    <li><a href="#">Discover</a></li>
     <li><a href="#">Me</a></li>
       </ul>
     <button>Button</button>
  <form>
    <input type="text" name="search">
    <input type="submit" value="OK">
  </form>
</div> <!--end header-->
	<body>
		<div id="container">
			<div class="col_2">
        <div class="box">
          <div class="line"><img src="" height="30px" width="30px"><h2>sadasd</h2></div>
          <div class="line">sadasd</div>
          <div class="line">sadasd</div>
        </div>
       </div>
      <div class="col_1"><h2>Tweets</h2>
       <div class="twit-box">
        <p>Title</p>
        <h3>@Username</h3>
        
        <img src="" height="50" width="50">

       </div>

      </div>	
		</div>
		<p></p>
	</body>
</html>

